/* todo: refazer essa estilização de forrma mais bonita */

.approvedContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 26.125rem;
  background:#dcdcdc;
 
 
}

/* todo: Fazer essa centralização do "Aprovações" sem usar gambiarra" */

.approvedContainer p{
  font-family: "Open Sans" ,sans-serif;
  display: flex;
  width: auto;
  color: #008442;
  font-size:1.9rem;
  font-weight: 700;
  padding-left:10rem;
  
  padding-top: 1.7rem;
  
  letter-spacing: 0px;
    
}


.approvedContent {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.approvedOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.studentsArea {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.studentsArea::-webkit-scrollbar {
  width: none;
}

/* @media (max-width: 1200px) {
  .container {
    padding: 0 4rem;
  }
}
@media (max-width: 1120px) {
  .container {
    padding: 0 2rem;
  }
} */

.sixblock2{
  display: none;
}

.magazinecont{
  text-align: center;
}
.magazinecont a {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  
  
}

a{
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.sixblock{
  
  
  display: flex;
  justify-content: center;
  padding:4rem 10rem;
  flex-direction: row; 
  gap:25px;
}
.Block{
  width: 470px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.Block2{
  width: 470px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.Block3{
  width: 470px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.ImgEnf1 p{
  color: #008442;
}

.ImgEnf1{
  
  height: 190px;
  width: 140px;
  
}

@media (min-width: 1050px) {
  .studentsArea {
    overflow: hidden;
    width: 80%;
  }

  .approvedContent {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .approvedContainer button {
    background: transparent;
    border: 0;
  }

  .approvedContainer button svg {
    color: var(--primary-color-light);
  }

  .approvedContainer button:disabled svg {
    color: var(--secondary-color-gray);
  }
}



@media(max-width:1020px){
  .ImgEnf1{
    height: 184px;
    width: 134px;
  }
}
@media(max-width:980px){
  .approvedContainer{
    display: flex;
          /* align-items: center;
    justify-content: center; */
    height: max-content;
    
   
}
.sixblock{
  display: none;
}
   
  .sixblock2{
    display: flex;
    flex-direction: row ;
    overflow-x: scroll;
    gap: 2rem;
    justify-content: center;
    
  }
  .Block4{
    gap: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .Block5{
    gap: 2rem;
    display: flex;
      flex-direction: row;
  }
  .Block6{
    gap: 2rem;
    display: flex;
      flex-direction: row;
  }

  .magazinecont{
    align-items: center;
    width: min-content;
  }
    img{
      margin: 0 ;
    }

    .approvedContainer .sixblock2{
      margin-top: 5rem;
      width: 80%;
      align-self: center;     
      
    }
    .approvedContainer p{
      padding: 0;
      padding-top: 1.7rem;
      align-self: center;
      width: max-content;
      font-weight:700;

    }
}

@media(max-width:980px){
  .approvedContainer{
    height: max-content;
    padding: 2em 0;
  }

  .sixblock2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;

  }
  .Block4{
    width: max-content;
  }
}