.descriptionTeacher{
  display: flex;
  flex-direction: column;
}

.descriptionTeacher h1{
  color: var(--primary-color-green);
  padding-left: .6rem;
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  border-left: 4px solid var(--primary-color-green);
}

.contentDescription{
  display: flex;
  padding-top: 3rem;
}

.descriptionsTexts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.6rem;
  padding: 1.2rem;
  gap: 1.25rem;
  border-left: 4px solid var(--primary-color-green);
}

.descriptionsTexts h2{
  color: var(--primary-color-green);
  font-size: 1.5rem;
}

.descriptionsTexts p{
  width: 37.5rem;
  font-size: 1rem;
  font-weight: 700;
}