.objectivesAndActing {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  gap: 3.25rem;
}

.objectiveCourse, .actingAreas, .curricularComponents{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.objectiveCourse h1, .actingAreas h1, .curricularComponents h1{
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 0.6rem;
  font-size: 2.5rem;
  font-weight: 600;
  border-left: 4px solid var(--primary-color-green);
}

.objectiveCourse p, .actingAreas p{
  text-align: left;
  width: 75rem;
  font-weight: 700;
  font-size: 1rem;
}

.curricularComponents{
  gap: 5rem;
}

.curricularComponentImage{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70rem;
  height: 100rem;
  z-index: -9;
}