@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


.StayContainer{
    display:block;
    height: 230px;
    border-top: 3px solid #00853B;
    background-color: #fff;
    
    
    
}

.StayContainer h1{
    font-family: inherit;
    display: flex;
    width: auto;
    color: #008442;
    font-size:1.9rem;
    padding-left:10rem;
    padding-top: 2rem;
    font-weight:700;
    letter-spacing: 0px;
    
}
.StayContainer h2{
    display: none;
}
.space{
    gap: 1rem;
}
.btnLinks{

    display: flex;
    height: 50px;
    width: max-content;
    padding: 0 3rem;
    font-size: 22px;
    align-items: center;
    border: none;
    border-left: 3px solid #008442;
    padding-left: 1rem;
    background-color: #fff;
    
}

.btnLink{
    color: rgb(58, 58, 58);
}
.btnLink:hover{
    color: #fff;
}
.btnLinks:hover{

    background-color: #008442;
}



.space{
    justify-content: center;
    display: grid;
    
}



@media(max-width:980px){
    .StayContainer{
        margin-top: 5rem;
    }
    .StayContainer h1{
        width:max-content ;
        padding:1rem 0;
        align-items: center;
        display: none;
        
    }
    .StayContainer h2{
        font-family: inherit;
        display: flex;
        width: auto;
        color: #008442;
        font-size:1.9rem;
        
        padding-top: 1rem;
        font-weight: 700;
        letter-spacing: 0px;
    }

    

}