.communicationField{
  background-color: var(--secondary-color-gray);
  color: var(--text-color-gray);
  width: 30rem;
  height: 23rem;
  padding: 1.5rem;
}

.communicationField h2{
  padding: 0 0 ;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1.3rem;
  color: var(--primary-color-gray);
}

.communication{
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 13.5rem 10rem;
}

.communication a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color-gray);
  font-size: 1rem;
  line-height: 1.5rem;
  gap: 1rem;
}

.communication a span:hover{
  text-decoration: underline;
}


.dividingLineFooter{
  padding: 1rem 0;
  border-bottom: 1px solid var(--primary-color-gray);
  margin-bottom: 1.5rem;
}

.chanels{
  display: flex;
  gap: .5rem;
}

.instagram, .youtube{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-green);
  width: 2.2rem;
  height: 2.2rem;
}

@media (max-width: 1500px) {
  .communicationField{
    margin-right: 10rem;
    width: 27rem;
  }
  .communication{
    grid-template-columns: 13.5rem 10rem;
    column-gap: .5rem;
  }  
}

@media (max-width: 1330px) {
  .communicationField{
    margin-right: 20rem;
    width: 24rem;
  }
  .communication{
    grid-template-columns: 12rem 9rem;
    column-gap: .3rem;
  }  

  .communication a span{
    font-size: .87rem;
  }

  .ourChannels h2{
    font-size: .9rem;
  } 
}

@media (max-width: 1200px) {
  .communicationField{
    width: 22rem;
    height: 21rem;
  }

  .communication {
    grid-template-columns: 11rem 8rem;
    column-gap: 0;
  }

  #location {
    width: 9rem;
  }

  .dividingLineFooter{
    padding: .5rem 0;
  }
}

@media (max-width: 830px){
  .communicationField{
    width: 20rem;
    height: 18.5rem;
    padding: .8rem;
  }

  .communicationField h2{
    font-size: .8rem;
    margin-bottom: .8rem;
  }
  
  .dividingLineFooter{
    padding: .3rem;
    margin-bottom: 1rem;
  }

  .communication a{
    line-height: 1rem;
    column-gap: 0.2rem;
  }

  .communication a svg{
    width: 2rem;
  }

  #location svg{
    width: 2.3rem;
  }
}

@media (max-width: 785px) {
  .communicationField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0 3rem;
  }

  .dividingLineFooter{
    width: 25rem;
  }

  .communication{
    grid-template-columns: 12.5rem 10rem;
    column-gap: 3rem;
  }

  .communication a span{
    font-size: 1rem;
  }

  .communicationField h2{
    font-size: 1rem;
  }

  .chanels{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #location{
    width: 15rem;
  }
}

@media (max-width: 510px) {
  .communication{
    grid-template-columns: 12rem 8rem;
    column-gap: 0;
  }

  #location{
    width: 11rem;
  }
}

@media (max-width: 360px) {
  .communication{
    grid-template-columns: 11rem 7rem ;
  }

  #location{
    width: 9rem;
  }

  .communication a span{
    font-size: .8rem;
  }
}