.managersContainer {
  display: grid;
  justify-content: flex-start;
  place-items: center;
  width: 21.666rem;
  border-left: 4px solid var(--primary-color-green);
  cursor: pointer;
}

.managersContainer .firstmanager {
  width: 400px;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1.1rem;
  
}
.managersContainer .secondmanager {
  width: 400px;
  height: 7.8rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1.1rem;
}



.managersContainer:hover {
  transition: 0.7s;
  color: var(--primary-color-green);
}

/* olha o comentario no history */

@media (max-width: 1200px) {
  .managersContainer {
    width: 16.25rem;
    height: 5.85rem;
  }

  .managersContainer p {
    font-size: 1.35rem;
  }
}

@media (max-width: 710px) {
  .managersContainer {
    display: flex;
    height: 6.4rem;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .managersContainer p {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

@media (max-width: 540px) {
  .managersContainer{
    height: 15rem;
  }
}
