.contentFooter{
  display: flex;
  flex-direction: row;
  
  
  
  
  
}

.contentCols{
  display: flex;
  gap: 2rem;
  
  
}

.blocksContent{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  color: var(--primary-color-gray);
  font-weight: 300;
  font-size: 0.8rem;
  align-items: center;
}
.sitemain {
  color: var(--primary-color-gray);
  font-size: .98rem;
  font-weight: 500;
  height: 1rem;
  
}
.copyright h1{
  display: flex;
  text-align: center;
  align-items: center;


}
.copyright  p{
  
  display: flex;
  justify-content: center;
  height: 1rem;
  width: max-content;
}
.copyc{
  display: flex;
  width: max-content;
  font-weight: 300;
  font-size: .8rem;

}
.aligncopy{
  display: flex;
  width: max-content;
  height:max-content;
  
}
.columFooter{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}
.localFooter{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.localFooter h2{
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  width: max-content;
  letter-spacing: 1.5px;

}
.localFooter p{
  font-size: .8rem;
  font-weight: 300;
}
.weChannel{
  display: flex;
  flex-direction:column;
  height: max-content;
  text-align: center;
  align-items:center;

}
.weChannel2{
  display: flex;
  flex-direction: row;
  gap: .5rem;
  padding: .5rem 0;
  
  
}
.weChannel .Inst{
  color: #fff;
  background-color:var(--primary-color-green);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weChannel .Youtube{
  color: #fff;
  background-color:var(--primary-color-green);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Channel p{
  font-weight: 700;
  text-align: start;
  width: max-content;
  align-items: center;

  
}

@media (max-width: 1330px){

}

@media (max-width: 1200px) {
  .copyright{
    width: max-content;
  }
}

@media (max-width: 1070px){
  .contentCols{
    transition: 1s;
    padding: 0 .9rem;
  }
}

@media (max-width: 960px){
  .blocksContent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .copyright{
    font-size: .7rem;
    width: 20rem;
  }
}
@media(max-width:600px){
  .columFooter p{
    font-size: .67rem;
  }
}
@media(max-width:485px){
  .copyright p{
    width: auto;
  }
}