.card{
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: 17.15rem;
  height: 19.25rem;
}

.areaText{
  color: var(--primary-color-green);

}

.areaText h2{
  font-weight: 700;
  font-size: 1.1rem;
}

.areaText p{
  font-weight: 600;
  font-size: 1.1rem;
}