/* *::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.secondNav{
  display: flex;  
  align-items: center;
  justify-content: flex-end;
  height: 137.5px;
  padding: 0px 12.18rem;
  background-image: url(../../assets/waves.svg);
  background-repeat: no-repeat;
  background-position:bottom left;
  border-bottom: 5px solid var(--primary-color-green);
  box-shadow: 0px 5px 25px #00000080;
}

.secondNav a{
  display: flex;
  border-right: 2px solid var(--primary-color-green);
  padding: 0 1rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-color-green);
}

#p4{
  border: none;
}

.secondNav a:hover{
  color: var(--primary-color-orange);
  transition: .2s;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4.3rem;
  cursor: pointer;
  transition: 2s;
} 

@media (max-width: 1400px){
  .secondNav{
    overflow: hidden;
    padding: 0 7rem;
  }
}

@media (max-width: 1200px){
  .secondNav{
    padding: 0 4rem;
  }

}
@media (max-width: 1120px){
  .secondNav{
    padding: 0 2rem;
  }
}

@media (max-width: 1050px){
 .secondNav{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 710px){
  .secondNav a{
    font-size: .8rem;
  } 
}

@media (max-width: 540px) {
  .secondNav a{
    font-size: .6rem;
  } 
}

@media (max-width: 450px) {
  .secondNav {
    padding: 0 4rem;
  } 
}

@media (max-width: 390px) {
  .secondNav a {
    padding: 0 .5rem;
  }
} */


*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.secondNav{
  display: flex;  
  align-items: center;
  justify-content: flex-end;
  height: 8.5rem;
  padding: 0px 12.18rem;
  background-image: url(../../assets/waves.svg);
  background-repeat: no-repeat;
  background-position:bottom left;
  border-bottom: 5px solid #00A84A;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
  gap: 1rem;
  width: 100%;
  
  

  
}

.inputField button{
  width: 40px;
  height: 40px;
}

.secondNav a{
  display: inline-flex;
  
  padding: 0 1rem;
  text-decoration: none;
  border-right: 2px solid var(--primary-color-green);
  color: #00A84A;
  font-weight: 700;
  font-size: 1.0rem;
  line-height: 22px;
  justify-content: end;
  
  
  
  

}

#p4{
  border: none;
}



.sorumbatico{
  justify-content: center;
  align-items: center;

  
  
}

 .nogap{
  display: inline-flex;
  width: 400px;
 }
.nogap input{
  width: 400px;
}
 
.inputFieldC{
  margin-top: 1rem;
}

.inputGap{
  display: flex;
  text-align: justify;
  gap: 1rem;
  text-transform: uppercase;
  
  
  
}

.secondNav .inputField{
  justify-content: end;
  align-items: flex-end;
  margin-left: 2rem ;
  
  
  
}

.oi {
  
  font-size: 20px;
  align-items: center;
  text-align: center;
 
}



p{
  width:126px ;
  height: 44px;
}

a {
  font-size: 1rem;
}


.projectline a{
  text-align: justify;
  font-size: 1rem;
  height: 26px;
  width: 86px;

  
}

.secondNav a:hover{
  color: #ff8c00;
  transition: .2s;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4.3rem;
  cursor: pointer;
  transition: 2s;
} 

@media (max-width: 1400px){
  .secondNav{
    overflow: hidden;
    padding: 0 7rem;
  }
  .sorumbatico a{
    display: inline-flex;
    font-size: 1rem;
    padding-left:1rem;
    
    
  }
  
}



@media (max-width: 1337px){
  .secondNav{
    padding: 0 4rem;
  }

  .sorumbatico a{
    /*display:flex;
    margin-top: 11px;
    border-right: none;
    font-size: 22px*/
    display: inline;
    padding: 0 1rem;
    text-decoration: none;
    border-right: 2px solid var(--primary-color-green);
    color: #00A84A;
    font-weight: 700;
    font-size: .99rem;
    line-height: 22px;
    justify-content: end;      

  }
  .oi {
    font-size: 1.2rem;
  }


}
@media (max-width: 1296px){
  .secondNav a{
    display: inline;
    padding: 0 1rem;
    text-decoration: none;
    border-right: 2px solid var(--primary-color-green);
    color: #00A84A;
    font-weight: 700;
    font-size: .95rem;
    line-height: 22px;
    justify-content: flex-end; 
  }
}

@media(max-width:1282px) {
  .secondNav a{
    display: inline-flex;
    padding: 0 1rem;
    text-decoration: none;
    border-right: 2px solid var(--primary-color-green);
    color: #00A84A;
    font-weight: 700;
    font-size: .90rem;
    line-height: 22px;
    justify-content: flex-end; 
   
  }
  .nogap{
    width: 330px;
  }
  .nogap input{
    width: 330px;
  
    
  }
  .sorumbatico a{
    display:inline-flex;
       
  }

}

@media (max-width: 1188px){
 .secondNav{
    display: inline-flex;
    padding: 0 1rem;
    text-decoration: none;
    border-right: 2px solid var(--primary-color-green);
    color: #00A84A;
    font-weight: 700;
    font-size: .7rem;
    line-height: 22px;
    justify-content: flex-end; 
    gap: .3rem;
  }
  
  

  .oi{
    font-size: 1.1rem;
  }
  
  .nogap input{
    width: 330px;
  }
}
  @media (max-width:1178px){
    
    .secondNav{
      display: inline-flex;
      padding: 0 1rem;
      text-decoration: none;
      border-right: 2px solid var(--primary-color-green);
      color: #00A84A;
      font-weight: 700;
      font-size: .7rem;
      line-height: 22px;
      justify-content: flex-end; 
      gap: .3rem;
    }

    
 
    
    
    .sorumbatico a{
      display: inline-flex;
      font-size: .88rem;  
    
    }


    
}

@media(max-width:1161){
    .nogap{
      width: 200px;
    }

    .sorumbatico a {
      font-size: .2rem;
    }

    .oi{
      padding-left: 0rem;
    }
}

@media (max-width:1131px){
  .secondNav{
    gap: 1rem;
  }
  .sorumbatico a{
    display: inline-flex;
    font-size: .89rem;
    justify-content: center;   

  }
  .inputFieldC{
    padding-right: 1rem;
  }
  .nogap {
    width: 280px;
  }
  .nogap input{
    width: 280px;
  }
}

@media(max-width:1040px){
  .inputField input{
    height: 40px;
  }
  .nogap{
    display: inline-flex;
    align-items: flex-end;
  }
}

@media(max-width:1035px){
  .inputField input{
    height: 40px;
  }
  .nogap{
    display: inline-flex;
    align-items: flex-end;
  }

}
@media(max-width:1003px){
  .sorumbatico a{
    display:inline-flex;
    width: 100px;
    
    
  }

}

@media (max-width: 980px){
  .sorumbatico{
    display: none;
  }

  .secondNav{
    height: 11.4em;
    justify-content: center;
    align-items: center;
  }
  .nogap {
    width: 350px;
  }
  .nogap input{
    width: 350px;
  }
}

@media (max-width: 850px){
  .secondNav a{
    font-size: 1rem;
  
  } 
}


@media (max-width: 710px){
  .secondNav a{
    font-size: 1rem;
  
  } 
}

@media (max-width: 540px) {
  .secondNav a{
    font-size:  1rem;
    
  } 
  .nogap{
    width: 280px;

  }
  .nogap input{
    width: 280px;
  }
}

@media (max-width: 467px) {
  .secondNav {
    padding: 0 4rem;
  } 
  .oi{
    font-size: 1rem;
  }
  .nogap{
    width: 200px;

  }
  .nogap input{
    width: 200px ;
  }

  .secondNav .inputField{
    margin-left: 1rem;
  }
}

@media (max-width: 390px) {
  .secondNav a {
    padding: 0 .5rem;
  }
}

